

.title{
    color: blue;
    text-align: center;
    margin-top: 20px;
    background-color: #f3f3f3;
    font-weight: 600;
}

.title2{
    color: #111;
    padding: 10px;
}

h3{
    color: #333;
    padding: 10px;
}

h4{
    color: #333;
    padding: 10px;
}

p{
    padding: 10px;
    color: #222;
}


